@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Cinzel:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cinzel";
}

body {
    background: linear-gradient(#000000, #1E1E1E);
}

body::after {
    width: 100%;
    height: 100%;
}

.face {
    width: 100%;
    height: 40%;
}

.face .navbar {
    padding: 10px 20px 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.face .navbar .nav-list {
    width: 45%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.face .navbar .nav-list li a {
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
}

.face .navbar .nav-list li #login {
    background: linear-gradient(#E3BC3B, #7D6820);
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px white;
}

.face .title {
    font-size: 52px;
    font-family: "Playfair Display";
    background: -webkit-linear-gradient(right, #E3BC3B 0%, #7D6820 100%);
    background: linear-gradient(to right, #E3BC3B 0%, #7D6820 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.imagem-estoicismo img {
    width: 100%;
}

main {
    width: 100%;
    display: flex;
}

.barra-lateral {
    width: 15%;
    margin-left: 5%;
}

.barra-lateral div {
    width: 0%;
}

.barra-lateral .mouse-line {
    display: flex;
}

.barra-lateral .dashed-line {
    height: 35px;
    border: 4px dashed #4D4D4D;
    margin-left: 21px;
}

.barra-lateral .mouse-line .mouse {
    height: 30px;
    margin-left: 10px;
} 

.barra-lateral .line {
    height: 700px;
    border: 4px solid #4D4D4D;
    margin-left: 21px;
}

.barra-lateral .start {
    height: 200px;
}

.barra-lateral .section {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 9px;
    margin-bottom: 9px;
}

.barra-lateral .section .dot {
    width: 50px;
    height: 50px;
}

.barra-lateral .section .text {
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.sessoes {
    width: 80%;
}

.oque {
    margin-top: 300px;
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 0 20% 0 0;
}

.img1 { grid-area: 1 / 1 / 3 / 3; }
.text1 { grid-area: 3 / 1 / 5 / 3; }
.text2 { grid-area: 1 / 3 / 3 / 5; }
.img2 { grid-area: 3 / 3 / 5 / 5; }

.oque p {
    color: white;
    font-size: 21px;
}

.oque img {
    width: 100%;
    border-radius: 10px;
}

.filosofos {
    margin-top: 225px;
    display: flex;
    justify-content: space-evenly;
}

.filosofos .container {
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    background-color: #4D4D4D;
    color: white;
}

.filosofos .container img {
    width: 100%;
    border-radius: 10px;
}

.filosofos .container p {
    font-size: 12px;
}

.ods {
    margin-top: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0 20% 0 0;
}

.ods .container {
    display: flex;
    color: white;
    align-items: center;
    gap: 30px;
}

.saude { 
    grid-area: 1 / 1 / 2 / 2;
    border-right: 2px solid #4D4D4D;
    border-bottom: 2px solid #4D4D4D;
    padding: 5%;
}

.educacao { 
    grid-area: 1 / 2 / 2 / 3;
    border-left: 2px solid #4D4D4D;
    border-bottom: 2px solid #4D4D4D;
    padding: 5%;
}

.paz { 
    grid-area: 2 / 1 / 3 / 2;
    border-right: 2px solid #4D4D4D;
    border-top: 2px solid #4D4D4D;
    padding: 5%;
}

.consumo { 
    grid-area: 2 / 2 / 3 / 3;
    border-left: 2px solid #4D4D4D;
    border-top: 2px solid #4D4D4D;
    padding: 5%;
}

.ods .container img {
    width: 100px;
    height: 100px;
}

.video {
    margin-top: 350px;
    width: 100%;
    color: white;
    padding: 0 20% 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.video img {
    width: 60%;
}

.video .texto {
    display: grid;
    gap: 5%;
}

.video .texto button {
    justify-self: flex-end;
    background-color: #E3BC3B;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.video .texto button a {
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.sobre-mim {
    margin-top: 400px;
    padding: 0 20% 0 0;
}

.sobre-mim .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0.05fr repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr) 0.05fr repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #4D4D4D;
    padding: 20px;
}

.minha-imagem { grid-area: 1 / 1 / 4 / 3; }
.texto1 { grid-area: 1 / 4 / 4 / 6; }
.texto2 { grid-area: 5 / 1 / 8 / 6; }

footer {
    background-color: black;
    width: 100%;
    height: 10vh;
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dev {
    font-weight: bold;
}

.links a img {
    width: 30px;
    height: 30px;
}